body {
    background-color:rgba(211, 148, 219, 0.685);
    text-align: center;
}

.udacity {
    padding: 25px 80px 75px 200px;
    font-family: Monoton;
    font-size: 70px;
    margin: 0.2em;
    text-shadow: 6px 6px rgb(151, 94, 241);
    background-color: red;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 4s;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
    from {background-color: red;}
    to {background-color: yellow;}
}

/* Standard syntax */
@keyframes example {
    from {background-color: blue;}
    to {background-color: green;}
}

h2 {
    margin: 1em 0 0.25em;
}

h2:first-of-type {
    margin-top: 0.5em;
}

table,
tr,
td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    height: 20px;
}

td {
    width: 20px;
}

input[type=number] {
    width: 6em;
}
.emma {
    float: right;
}
